body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  margin: 0;
  background-color: #273242; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}